:root {
    --font-size: 3vh;
    --font-size-x-small: calc(var(--font-size) - 8px);
    --font-size-small: calc(var(--font-size) - 4px);
    --font-size-large: calc(var(--font-size) + 8px);
    --font-size-x-large: calc(var(--font-size) + 18px);
    --font-size-xx-large: calc(var(--font-size) + 32px);

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
    :root { 
        font-family: InterVariable, sans-serif;
    }
}


body {
    margin: 0;
    background-color: #FAFAFA;
    font-size: var(--font-size);
    position: relative;
}

h1 {
    font-size: var(--font-size-x-large);
    font-weight: 800;
}

h1, h2, h3 {
    cursor: default;
    margin: 0;
}

p {
    cursor: default;
}



.wave-divider {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 1;

    margin-bottom: -1px;
}

.section-title {
    text-align: center;
    padding: 1ch 1ch 2ch 1ch;
}

.obj-position-bottom {
    object-position: bottom;
}
.obj-position-vert-20 {
    object-position: center 20%;
}




#hero-section {
    position: relative;
    background-image: url(images/shark-header.png);
    background-position: 10%;
    background-size: cover;
    padding: 25vh 2rem 35vh 20%;
    display: grid;
    justify-content: left;
    color: whitesmoke;
}

#hero-section > div {
    max-width: 450px;
    h1 {
        border-bottom: 2px solid white;
        font-size: var(--font-size-xx-large);
        strong {
            color: transparent;
            background: linear-gradient(90deg, cyan, rgb(3, 255, 150));
            background-clip: text;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.6ch;
        }
    }
}


#sharks-and-humans {
    padding: 1rem 1rem 15ch 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}


#sharks-and-humans > div > #cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    max-width: 80ch;


    .card {
        border: 2px solid #e6e6e6;
        background-color: #eeeeee;
        border-bottom: 1ch solid #e6e6e6;
        border-radius: 2rem;

        img {
            width: 100%;
            border-radius: 2rem 2rem 0rem 0rem;
        }
        .img-text {
            padding: 2ch;
            border-radius: 0rem 0rem 1rem 1rem;

            h3 {
                padding-bottom: 1ch;
                text-align: center;
            }
            p {
                margin: 0;
                text-align: justify;
            }
        }
    }
}



#want-to-help {
    background-color: #387ADF;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 80px;
    display: grid;
    justify-items: center;

    h1 {
        padding-bottom: 0;
    }
    p {
        margin-bottom: 40px;
    }
}

#want-to-help {
    p {
        margin-bottom: 4ch;
    }
}

#want-to-help > #org-disclaimer {
    font-weight: 800;
    color: #69bdf5;
}

#want-to-help > #orgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80ch;
    gap: 1ch;

    div {
        background-color: #FAFAFA;
        color: black;
        border: 2px solid #265eb1;
        border-bottom: 1ch solid #265eb1;
        border-radius: 1rem;
        padding: 3rem 1.5rem 3rem 1.5rem;
        text-align: justify;
        transition: 500ms ease-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }

        h1 {
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif
        }

        h2 {
            font-size: var(--font-size-small);
            font-weight: 300;
            color: #b1b1b1;
            text-align: center;
            margin: 0;
        }
        p {
            font-size: var(--font-size);
            margin-top: 4ch;
        }
    }
}


footer {
    padding: 4ch 1ch 8ch 1ch;
    border-top: 1ch solid #265eb1;
    background-color: black;
    color: whitesmoke;

    display: flex;
    justify-content: center;

    h1 {
        color: #387ADF;
    }
    a {
        --border-radius: 1rem;

        text-decoration: none;
        color: whitesmoke;
        border: 2px solid black;
        border-radius: var(--border-radius);
        padding: 1ch;
        transition: 200ms;

        &:hover {
            border: 2px solid whitesmoke;
            border-radius: var(--border-radius);
        }
    }
    img {
        width: 20%;
        place-self: center;
        margin-top: 4ch;
    }

    #links {
        display: flex;
        justify-content: center;
        gap: 1ch;
    }

    #main-container {
        max-width: 60ch;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1ch;
    }
}




@media (max-width: 500px) {
    :root {
        --font-size: 16px;
        --font-size-x-large: calc(var(--font-size) + 10px);
        --font-size-xx-large: calc(var(--font-size) + 24px);
    }

    #hero-section {
        padding: 25vh 1rem 30vh 1rem;
    }


    #sharks-and-humans {
        padding: 1vh 4vw 10vh 4vw;
    }

    #sharks-and-humans > div > #cards {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    #sharks-and-humans > div > #cards > .card {
        img {
            height: 25ch;
            object-fit: cover;
        }
    }

    footer > #main-container > #links {
        flex-direction: column;
        place-self: center;
        gap: 0;

        max-width: min-content;
    }
}

@media (max-width: 900px) {
    #want-to-help {
        padding: 40px 4ch 0px 4ch;
    }
    
    #want-to-help > #orgs {
        flex-direction: column;
        div {
            padding: 2ch;
            height: min-content;

            p {
                margin-top: 2ch;
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1150px) {
    #want-to-help {
        padding: 0 4ch 0 4ch;
    }
}