:root {
    --font-size: 20px;
    --font-size-large: calc(var(--font-size) + 8px);
    --font-size-x-large: calc(var(--font-size) + 18px);
    --font-size-xx-large: calc(var(--font-size) + 32px);
}

body {
    margin: 0;
    background-color: #FAFAFA;


    font-size: var(--font-size);
    font-family: Inter, sans-serif;
    position: relative;
}

h1 {
    font-size: var(--font-size-x-large);
}

h1, h3 {
    font-family: Inter ExtraBold, sans-serif;
    margin: 0;
}



.wave-divider {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 1;

    margin-bottom: -1px;
}

.section-title {
    text-align: center;
    padding: 1ch 1ch 2ch 1ch;
}

.obj-position-bottom {
    object-position: bottom;
}
.obj-position-vert-20 {
    object-position: center 20%;
}




#hero-section {
    position: relative;
    background-image: url(images/shark-header.png);
    background-position: 10%;
    background-size: cover;
    padding: 25vh 2rem 35vh 20%;
    display: grid;
    justify-content: left;
    color: whitesmoke;
}

#hero-section > div {
    max-width: 450px;
    h1 {
        border-bottom: 2px solid white;
        font-size: var(--font-size-xx-large);
        strong {
            color: transparent;
            background: linear-gradient(90deg, cyan, rgb(3, 255, 150));
            background-clip: text;

            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 1.6ch;
        }
    }
}


#sharks-and-humans {
    padding: 1rem 1rem 15ch 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}


#sharks-and-humans > div > #cards {
    cursor: default;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    max-width: 100ch;


    .card {
        border: 2px solid #e6e6e6;
        background-color: #eeeeee;
        border-bottom: 1ch solid #e6e6e6;
        border-radius: 2rem;

        img {
            width: 100%;
            border-radius: 2rem 2rem 0rem 0rem;
        }
        .img-text {
            font-size: 2vh;
            padding: 2ch;
            border-radius: 0rem 0rem 1rem 1rem;

            h3 {
                font-size: var(--font-size-large);
                padding-bottom: 1ch;
                text-align: center;
            }
            p {
                margin: 0;
                text-align: justify;
            }
        }
    }
}



#want-to-help {
    background-color: #387ADF;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 80px;
    display: grid;
    justify-items: center;

    h1 {
        padding-bottom: 0;
    }
    p {
        margin-bottom: 40px;
    }
}


#want-to-help > #org-disclaimer {
    font-family: Inter ExtraBold, sans-serif;
    color: #69bdf5;
    max-width: 60rem;
}


#want-to-help > #orgs {
    display: flex;
    flex-direction: row;
    gap: 2ch;

    div {
        max-width: 20rem;
        background-color: #FAFAFA;
        border: 2px solid #265eb1;
        border-bottom: 1ch solid #265eb1;
        color: black;
        padding: 3rem 1.5rem 3rem 1.5rem;
        text-align: justify;
        border-radius: 1rem;
        transition: 500ms ease-out;
        cursor: default;
    }

    div:hover {
        transform: scale(1.02);
    }

    div > h1 {
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif
    }

    div > h2 {
        font-size: medium;
        font-family: Inter Thin, sans-serif;
        color: #b1b1b1;
        text-align: center;
        margin: 0;
    }
}


footer {

    padding: 6rem 6rem 12rem 6rem;
    display: flex;
    flex-direction: column;
    border-top: 1ch solid #265eb1;
    background-color: black;
    color: whitesmoke;

    #main-container {
        min-width: 60rem;
        max-width: 60rem;
        place-self: center;
    }

    #main-container > #sections {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        img {
            width: 10ch;
            height: min-content;
            color: white;
        }
    }
    h1 {
        padding-bottom: 1rem;
        color: #387ADF;
    }
}

footer > #main-container > #sections > section {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}




@media (max-width: 500px) {
    :root {
        --font-size: 16px;
        --font-size-x-large: calc(var(--font-size) + 10px);
        --font-size-xx-large: calc(var(--font-size) + 24px);
    }

    #hero-section {
        padding: 25vh 1rem 30vh 1rem;
    }


    #sharks-and-humans {
        padding: 1vh 4vw 10vh 4vw;
    }

    #sharks-and-humans > div > #cards {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    #sharks-and-humans > div > #cards > .card {
        img {
            height: 25ch;
            object-fit: cover;
        }
    }
}